.cabecalho{
    background-color: rgb(167, 205, 102);
    color:rgb(0, 0, 0) ;
}
.cabecalho-lista-item{
    display: inline-block;
    margin:0 16px;
    font-size: 16px;
}
.texto-simples-titulo{
    background-color: rgb(85, 4, 4);
}